<table class="table table-hover">
    <tr>
        <td>
            <a href="{{ url_for('user', username=itinerary.author.username) }}">
                {{ itinerary.author.username }}
            </a>
            <br>
            <img src ="/static/images/{{itinerary.picture}}" style="max-width:150px; height:auto;">
            <br>
            <a href="{{ url_for('itinerary', itinerary_id=itinerary.id)}}">
              {{ itinerary.name }}
            </a>

            
        </td>
    </tr>
</table>
